.pagination > li > a
{
    background-color: white;
    color: black;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: black;
    background-color: #eee;
}

.pagination > .active > .page-link {
    background-color: black !important;
    color: white !important;
    border: black;
  }